.container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: brown;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ques-container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 2px 2px 5px black;
    justify-content: center;
    align-items: center; 
    margin: 50px 70px;  
    background-color: tan;
    height: 650px;
    width: 800px;
}

.pop {
    font-size: 40px;
    color: #3566dc;
    padding: 10px;
}

body {
    background-image: url(../images/sandiegobg.jpg);
    background-size: cover;
    color:brown;
    text-shadow: 2px 2px 5px black;
}

h1, h2 {
    text-align: center;
}

.button {
    background-color:darkgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
}

.start-button {
    background-color: darkgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 32px;
}

.ans-container {
    justify-content: center;
    align-items: center; 
    display: flex;
    margin: auto;
    flex-direction: column;
    font-size: 32px;
}

img {
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

